body {	 margin: 0;  padding: 0; }

.input { border:1px solid; padding:0px 0px 0px 2px; }

.submit { border:1px solid; }

.header { font-size:9px; }

.admin { font-size:9px; }

.sb_archiv { margin:5px 0px 0px 0px; }